In [3]:
#The main agenda of this practical is to perform 


#mean
#median
#mode
#Standard Deviation
#Variance
#Interquartile Range
#Skewness

#on the iris dataset

In [ ]:
import pandas as pd 
import numpy as np
import sklearn
from sklearn import dataset

In [30]:
df=pd.read_csv("iris.csv")

In [31]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [60]:
df.isnull()

     sepal_length  sepal_width  petal_length  petal_width  species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [45]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [46]:
df.shape

(150, 5)

In [36]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [51]:
#mean

df.sepal_length.mean()

5.843333333333334

In [49]:
#median

df.petal_length.median()

4.35

In [66]:
#to compute a median of a some column

print(df.loc[:,'sepal_length'].median())
print(df.loc[:,'petal_length'].median())

df.median(axis = 1)[0:10]

5.8
4.35

C:\Users\dell\AppData\Local\Temp\ipykernel_18888\165540329.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median(axis = 1)[0:10]

0    2.45
1    2.20
2    2.25
3    2.30
4    2.50
5    2.80
6    2.40
7    2.45
8    2.15
9    2.30
dtype: float64

In [54]:
#mode

df.mode()

   sepal_length  sepal_width  petal_length  petal_width     species
0           5.0          3.0           1.5          0.2      setosa
1           NaN          NaN           NaN          NaN  versicolor
2           NaN          NaN           NaN          NaN   virginica

In [55]:
#groupby

df.groupby(['species']).count()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa                50           50            50           50
versicolor            50           50            50           50
virginica             50           50            50           50

In [57]:
#standard deviation

df.sepal_length.std()

0.8280661279778629

In [68]:
#to calculate standard deviation of first 10 rows

df.std(axis = 1)[0:10]

C:\Users\dell\AppData\Local\Temp\ipykernel_18888\461001890.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std(axis = 1)[0:10]

0    2.179449
1    2.036950
2    1.997498
3    1.912241
4    2.156386
5    2.230844
6    1.936276
7    2.109305
8    1.822773
9    2.068816
dtype: float64

In [58]:
#standard deviation

df.sepal_width.std()

0.4335943113621737

In [67]:
#variance

df.petal_length.var()

3.1131794183445156

In [69]:
#skewness

df.skew()

C:\Users\dell\AppData\Local\Temp\ipykernel_18888\1665899112.py:1: FutureWarning: The default value of numeric_only in DataFrame.skew is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.skew()

sepal_length    0.314911
sepal_width     0.334053
petal_length   -0.274464
petal_width    -0.104997
dtype: float64

In [70]:
#interquartile range

from scipy.stats import iqr
iqr(df['petal_length'])

3.4999999999999996